
.random_content{
  font-size: 14px;
  font-weight: 400;
  opacity: 0;
  margin: 0 10px 0 10px;
}

.content_card{
  position: relative;
  display: block;
  width: 800px;
  height: 440px;
  margin: 100px auto; 
  overflow: hidden;
  border-radius: 10px;
  transition: all 0.4s;
  &:hover{
    transform: scale(1.02);
    transition: all 0.4s;
  }

  &.tuto{
    border-radius: 30px;
    box-shadow: -7px -7px 10px #090909, 6px 2px 1px #232323;
    &:hover{
      border-radius: 10px;
    box-shadow: -7px -7px 10px #090909, 6px 2px 1px #232323;
    }
  }

  &.perf{
    border-radius: 30px;
    box-shadow: -7px -7px 10px #090909, 6px 2px 1px #232323;
    &:hover{
      border-radius: 10px;
    box-shadow: -7px -7px 10px #090909, 6px 2px 1px #232323;
    }
  }
  
  &.sheet{
    border-radius: 30px;
    box-shadow: -7px -7px 10px #090909, 6px 2px 1px #232323;
    &:hover{
      border-radius: 10px;
    box-shadow: -7px -7px 10px #090909, 6px 2px 1px #232323;
    }
  }
  
  .info_section{
    position: relative;
    width: 100%;
    height: 100%;
	  background-blend-mode: multiply;
    z-index: 2;
    border-radius: 10px;
    padding-bottom: 20px;
    
    
    .content {
      height: 120px;
      box-shadow: 0 0 20px -10px rgba(0,0,0,0.5);
    }

    .content_header{
     line-height: 2.5rem;
     margin-top: 15px;
     margin-bottom: 15px;

      h2{
        // color: #fff;
        font-weight: 400;
        font-size: 2rem;
      }

      h3{
        // color: #9ac7fa;
        font-weight: 400;
      }

      .see_content{
        margin-top: 10px;
        padding: 5px;
        border-radius: 5px;
        border: 1px solid rgba(255,255,255,0.13);
        position: relative;

        a{
        text-decoration: none;
        // color: #fff;
        }
      }

      .type{
        display: inline-block;
        // color: #cee4fd;
        
      }

    }


    // .content_desc{
    //   .text{
    //     color: #cfd6e1;
    //   }
    // }


    .content_social{

      ul{
        list-style: none;
        padding: 0;

        li{
          display: inline-block;
          // color: rgba(255,255,255,0.4);
          transition: color 0.3s;
          transition-delay: 0.15s;

          &:hover{
            transition: color 0.3s;
            color: rgba(255,255,255,0.8);
          }

          i{
            font-size: 19px;
            cursor: pointer;
          }
        }
      }
    }
  }

  .blur_back{
    position: absolute;
    top: 0;
    z-index: 1;
    height: 100%; right: 0;
    background-size: cover;
    background-position: center;
    border-radius: 11px;
  }
}

.tuto_back{
  background: url("../img/piano-1846719_1920.jpg");
}

.perf_back{
  background: url("../img/stage-curtain-660078_1920.jpg");
}

.sheet_back{
    background: url("../img/sheet-music-4121936_1920.jpg");
}