.reverse{
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
  margin-bottom: 100px;
}
.contact_presentation {
	min-width: 250px;
	min-height: 350px;
	border-radius: 20px;
	position: relative;
	transition: 1.5s ease-in-out;
	transform-style: preserve-3d;
}

.side {
	position: absolute;
	text-align: center;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	border-radius: 20px;
}
.contact_content {
	transform: scale(0.8);
	line-height: 1.5em;
	margin-top: -20px;
}
.contact_content .who {
	position: relative;
}
.contact_content p {
	margin-top: 50px;
	line-height: 2em;
}
.contact_content .who:before {
	content: "";
	position: absolute;
	bottom: -20px;
	height: 3px;
	background-color: #3e3;
	width: 70px;
	left: 50%;
	transform: translateX(-50%);
}
.front {
	z-index: 10;
	background-size: 100vh;
	background-size: cover;
	background-image: url("../img/abstract-g64ed80653_1920.jpg");
}
.front .who{
  line-height: 2rem;
}
.back {
	background-color: #333;
	transform: rotateY(180deg);
	z-index: 0;
	padding-top: 10px;
	background-image: url("../img/abstract-g64ed80653_1920.jpg");
}
.contact_presentation:hover {
	transform: rotateY(180deg);
}
.contact_form {
	text-align: left;
  margin-top: 3rem;
}
.back .who {
	margin-top: -1rem;
}
.contact_form label,
.contact_form input {
	display: block;
}
.contact_form input,
.contact_form textarea {
	background: transparent;
	border: 0;
	border-bottom: 2px solid #444;
	padding: 5px;
	width: 100%;
}
.contact_form label {
	margin: 15px 0;
}
.contact_form input[type="submit"] {
	display: block;
	width: auto;
	margin: 10px auto;
	padding: 5px 10px;
	border: 3px solid #555;
	border-radius: 4px;
	cursor: pointer;
}

