.deck {
  position: relative;
  width: 90%;
  margin: auto;
  &.content_comment {
    max-width: 100%;
  }
}

.single_player_card {
  position: relative;
  background-color: $color-1;
  border: none;
  border-top: 1.5px solid $color-5;
  border-bottom: 1.5px solid $black;
  padding: 1em;
  z-index: 5;
  border-radius: 10px;
  transition: 200ms ease-in-out;
  margin-top: 1em;
  .dropbtn {
    background: linear-gradient(162.5deg, $color-2 0%, $black 100%);
    color: $color-4;
    text-shadow: 0.5px 0.5px 0.5px $black, 0.5px 0.5px 0.5px $color-3;
    font-family: var(--primary-font);
    padding: 10px;
    font-size: 14px;
    border: none;
    border-bottom: 1.5px solid $black;
    border-top: 1.5px solid $color-4;
    cursor: pointer;
    border-radius: 7px;
    height: 15px;
    display: flex;
    align-items: center;
    transition: color 1s;
    &.gray {
      &:hover {
        background: linear-gradient(162.5deg, $black 0%, $color-2 100%);
        color: $black;
        text-shadow: 0.5px 0.5px 0.5px $color-3, 0.5px 0.5px 0.5px $color-4;
      }
    }
  }
}

.account_card {
  position: relative;
  background-color: $color-1;
  border: none;
  border-top: 1.5px solid $color-5;
  border-bottom: 1.5px solid $color-3;
  padding: 1em;
  z-index: 5;
  border-radius: 10px;
  transition: 200ms ease-in-out;
  margin-top: 1em;
}

.content_comment_card {
  position: relative;
  background-color: $color-1;
  border: none;
  border-top: 1.5px solid $color-2;
  padding: 0em 1em 0em 1em;
  z-index: 5;
  transition: 200ms ease-in-out;
  max-width: 100%;
}

.cardHeader {
  display: grid;
  justify-items: stretch;
  border-bottom: 1px solid $color-2;
  margin-bottom: 1rem;
  .cardHeader_account {
    font-size: 1em;
    color: $black;
    font-weight: bolder;
    margin-left: 10px;
    text-shadow: 0.5px 0.5px 0.5px $color-2;
  }

  .cardHeader_date {
    margin: 10px;
    font-size: 0.85em;
    text-align: right;
    text-shadow: 1px 1px 1px $black;
    font-weight: bold;
    color: $color-3;
  }
}

.cardBody {
  display: flex;
  margin: 0 10px 10px;
  justify-content: space-between;

  .cardText {
    margin: 0 10px 0 0;
    white-space: pre-line;
    color: #535353;
    overflow: hidden;
    text-align: left;
    font-size: 0.8rem;
    text-shadow: 0.5px 0.5px 0.5px $black;
  }

  .cardStats {
    font-size: 0.9em;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100px;

    .cardStats_stat {
      display: inline-block;
      white-space: nowrap;

      &.cardStats_stat-likes {
        font-weight: lighter;
        color: #666666;
        text-shadow: 0.5px 0.5px 0.5px $black;
      }
      &.cardStats_stat-comments {
        font-weight: lighter;
        color: #666666;
        text-shadow: 0.5px 0.5px 0.5px $black;
      }
    }
  }
}

.btn_content {
  min-width: 120px;
}

@media all and (max-width: 500px) {
  .cardBody {
    flex-direction: column-reverse;
    .cardStats {
      height: 30px;
      flex-direction: row;
      align-items: center;
      margin-bottom: 1rem;
    }
  }
}
