/* FOOT */

footer {
  opacity: 0;
  background: linear-gradient(90.73deg, #C9729A 4%, #923ADB 97.46%);
  padding: 2em 1em;
  color: #1A1A1A;
  font-weight: bold;
  // margin-top: 11em !important;

  .all {
      margin: .3em 0 0 .5em;
      font-size: 2rem;
  }

  .parent {
      display: block;
  }

  .twitter {
      width: 2em;
      margin-left: .5em;
  }

  .social {
      margin-top: 2em;
  }

  a {
      color: black;
      text-decoration: none;
  }

  .angle-line {
      margin-top: 1.2em;
  }
  
}