.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    margin-top: 11rem;
}

.form_content {
    opacity: 0.7;
	width: 40rem;
    margin: auto;
    position:center;
    align-self: center;
    top: 50rem;
    border-radius: 1.5rem;
    box-shadow: 4px 3px 20px #6a6a6a8c;
    display:flex;
    flex-direction: row;
}

.form_action{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form_title{
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    margin-left: 0;
}

.leftside {
	background-color: rgba(255, 255, 255, 0.13);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
	width: 25rem;
	display: inline-flex;
    align-items: center;
    justify-content: center;
	border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    img{
        width: 250px;
        animation: rotateLogo 8s linear infinite;
    }
}

.rightside {
    background-color: rgba(255, 255, 255, 0.13);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
	width: 35rem;
	border-bottom-right-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    padding: 1rem 2rem 1rem 2rem;
}

.inputbox
{
    color:#030303;
    background-color: rgba(255, 255, 255, 0.07);
	width: 100%;
    padding: 0.5rem;
    border: none;
    border-bottom: 1.5px solid #ccc;
    margin-bottom: 1rem;
    border-radius: 0.3rem;
    font-family: 'Roboto', sans-serif;
    color: #939393;
    font-size: 1rem;
    font-weight: 500;
    outline:none;
}

.button{
    background: linear-gradient(135deg, #753370 0%, #298096 100%);
    padding: 11px;
    border: none;
    border-radius: 50px;
    color: white;
    font-weight: 400;
    font-size: 1rem;
    margin-top: 10px;
    width:150px;
    letter-spacing: .11rem;
    outline:none;
    transition: all 0.4s;
}

.button:hover
{
	transform: scale(1.05) translateY(-3px);
    transition: all 0.4s;
    box-shadow: 3px 3px 6px #ffffff85;
}

.margin{
    height: 20px;
}