.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin-bottom: 2rem;
    margin-top: 7rem;
    &.connect{
        margin-bottom: 0rem;
        margin-top: 0rem;

    }
    h2{
        font-size: 1rem;
        color: #6c6c6c;
    }
    .email{
        color: rgb(66,66,66);
    }
}

.form_content {
    opacity: 0.7;
    margin: auto;
    position:center;
    align-self: center;
    border-radius: 1.5rem;
    box-shadow: 4px 3px 20px #6a6a6a8c;
    width: 90%;
    min-width: 250px;
    max-width: 610px;
}

.form_action{
    text-align: center;
    color: rgb(66,66,66);
}

.rightside {
    background-color: #00000080;
    border: 1.5px solid rgb(64, 64, 64);
	width:auto;
    border-radius: 1.5rem;
    padding: 1rem 2rem 1rem 2rem;
}

.inputbox {
    color:#030303;
    background-color: rgba(255, 255, 255, 0.07);
	width: 100%;
    padding: 0.5rem;
    border: none;
    border-top: 1.5px solid rgb(0, 0, 0);
    border-bottom: 1.5px solid rgb(64, 64, 64);
    margin-bottom: 0.4rem;
    border-radius: 0.3rem;
    font-family: 'Roboto', sans-serif;
    color: #939393;
    font-size: 0.7rem;
    font-weight: 500;
    outline:none;

    &.text{
        height: 10rem;
    }
}

.btn_content{
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: transparent;
    border: 0px;
}

.button{
    background: linear-gradient(135deg, #242424 0%, #363636 100%);
    padding: 11px;
    border: none;
    border-top: 1.5px solid rgb(64, 64, 64);
    border-bottom: 1.5px solid rgb(0, 0, 0);
    border-radius: 50px;
    color: rgb(129, 129, 129);
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 0.7rem;
    margin-top: 10px;
    min-width: 75px;
    letter-spacing: .11rem;
    outline:none;
    transition: all 0.4s;
    text-decoration: none;
    cursor: pointer;
    &.red{
        background:linear-gradient(135deg, #750000 0%, #ff0000 100%) ;
    }
}

.button:hover
{
	transform: scale(1.05) translateY(-3px);
    transition: all 0.4s;
    box-shadow: 3px 3px 6px #8d8d8d85;
}

.margin{
    height: 1rem;
}

// @media only all and (max-width: 1000px) {
//     .form_content{
//         flex-direction: column;
//         width: 63%;
//         min-width: 250px;
      
//     }
  
//     .rightside{
//         width:auto;
//         border-radius: 1.5rem;
//         padding:1rem 2rem 1rem 2rem;
    
//     }
//   }