
@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #16161632;
  --secondary-color: #4c4c4c;
  --third-color: #fff;
  --fourth-color: #8f8f8f;
  
  --primary-font: 'Merienda', cursive;
}

html {
  font-size: 16px;
}

body {
  font-family: var(--primary-font);
  // color: rgb(66, 66, 66);
  background-color: #161616;
  margin: 0;
  overflow-x: hidden;
  opacity: 0;
}

.min-height{
  min-height: 100vh;
}

.autoAlpha{
  opacity: 1;
}

textarea{
  resize: none;
}


@keyframes rotate_one {
  from {
        transform: rotate(0deg);
  }
  to {
        transform: rotate(360deg);
  }
}
@keyframes rotate_two {
  from {
        transform: rotate(0deg);
  }
  to {
        transform: rotate(360deg);
  }
}


.messages_logo  img{
  width: 100px;
  animation: rotate_one 8s linear infinite;
}
