header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

nav {
  height: 100%;
}

.nav_bar {
  height: 5rem;
  background: linear-gradient(to bottom, #383838 4%, #161616 97.46%);
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  width: 100%;
  align-items: center;
  flex-direction: row-reverse;
  z-index: 20;
  opacity: 0;
  .nav_search {
    background: linear-gradient(162.5deg, #343434 0%, #000000 100%);
    padding: 6px;
    border: none;
    width: 60px;
    border-top: 1.5px solid rgb(64, 64, 64);
    border-bottom: 1.5px solid rgb(0, 0, 0);
    border-radius: 10px;
    color: rgb(129, 129, 129);
    text-shadow: 2px 2px 2px black, 2px 2px 2px #444444;
    transition: color 1s;
    cursor: pointer;
    &.gray {
      &:hover {
        background: linear-gradient(162.5deg, #000000 0%, #272727 100%);
        color: #000000;
        text-shadow: 1px 1px 1px #343434, 1px 1px 1px rgb(171, 171, 171);
      }
    }
  }
  .user_nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #8f8f8f;
    font-size: 14px;
  }
}

.little_logo {
  transform: translateY(100px);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: -85px;
  left: 2rem;
  z-index: 50;

  .little_main_logo {
    margin: 0%;
    padding: 0%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 70px;
    animation: rotate_one 8s linear infinite;
    z-index: -10;
  }

  .little_main_logo_disc {
    width: 40px;
    height: 40px;
    animation: rotate_two 8s linear infinite reverse;
    border-radius: 50%;
    background: linear-gradient(315deg, #141414, #181818);
    box-shadow: -10px -10px 16px #090909, 10px 10px 16px #232323;
    z-index: -20;
    top: 10%;
    position: absolute;
  }
}

.toggle {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 500;
  cursor: pointer;
  position: fixed;
}

.ouvrir {
  width: 40px;
  height: 40px;
  display: block;
  border-radius: 131px;
  background: #161616;
  box-shadow: inset 5px -5px 5px #090909, inset -5px 5px 5px #232323;
}

.fermer {
  display: none;
}

.open .ouvrir {
  display: none;
}

.open .fermer {
  width: 40px;
  height: 40px;
  display: block;
  border-radius: 131px;
  background: linear-gradient(45deg, #141414, #181818);
  box-shadow: 5px -5px 5px #090909, -5px 5px 5px #232323;
}

.menu {
  height: 100%;
  display: flex;
  opacity: 0.9;
  width: 100%;
  position: fixed;
  z-index: -400;
}

.menu__left,
.menu__right {
  width: 50%;
  height: 100%;
  background: #16161632;
  transition: transform 2.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu_left_responsive {
  display: none;
}

.menu__left {
  transform: translateX(-100%);
  overflow: hidden;
}

.menu__right {
  transform: translateX(100%);
  overflow: hidden;
}

.open .menu__left,
.open .menu__right {
  transform: translateX(0);
}

.menu__left__inner__item {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.menu__left__inner__item:last-child {
  margin-bottom: 0;
}

.menu__left__inner__item a {
  color: rgb(36, 36, 36);
  text-decoration: none;
  transition: color 1s;
  text-shadow: 0 1px 0 rgb(57, 57, 57), 0 2px 0 rgb(52, 52, 52),
    0 3px 0 rgb(44, 44, 44), 0 4px 0 rgb(19, 19, 19), 0 5px 0 rgb(12, 12, 12),
    0 6px 0 rgb(0, 0, 0), 6px 7px 5px rgba(0, 0, 0, 0.4),
    6px 12px 10px rgba(0, 0, 0, 0.3), 6px 17px 20px rgba(0, 0, 0, 0.2),
    6px 22px 30px rgba(0, 0, 0, 0.1);
}

.menu__left__inner__item a:hover {
  color: #8f8f8f;
}

.menu__right__inner__item__title {
  font-size: 3rem;
  color: rgb(36, 36, 36);
  text-shadow: 0 1px 0 rgb(57, 57, 57), 0 2px 0 rgb(52, 52, 52),
    0 3px 0 rgb(44, 44, 44), 0 4px 0 rgb(19, 19, 19), 0 5px 0 rgb(12, 12, 12),
    0 6px 0 rgb(0, 0, 0), 6px 7px 5px rgba(0, 0, 0, 0.4),
    6px 12px 10px rgba(0, 0, 0, 0.3), 6px 17px 20px rgba(0, 0, 0, 0.2),
    6px 22px 30px rgba(0, 0, 0, 0.1);
}

.menu__right__inner__item ul {
  list-style: none;
}

.menu__right__inner__item ul li {
  margin-top: 0.5rem;
}

.menu__right__inner__item ul li a {
  color: #8f8f8f;
  text-decoration: none;
  font-size: 1.25rem;
  transition: color 1s;
  text-shadow: 0 1px 0 rgb(57, 57, 57), 0 2px 0 rgb(52, 52, 52),
    0 3px 0 rgb(44, 44, 44), 0 4px 0 rgb(19, 19, 19), 0 5px 0 rgb(12, 12, 12),
    0 6px 0 rgb(0, 0, 0), 6px 7px 5px rgba(0, 0, 0, 0.4),
    6px 12px 10px rgba(0, 0, 0, 0.3), 6px 17px 20px rgba(0, 0, 0, 0.2),
    6px 22px 30px rgba(0, 0, 0, 0.1);
}

.menu__right__inner__item ul li button {
  color: #8f8f8f;
  text-decoration: none;
  font-size: 1.25rem;
  transition: color 1s;
  border: none;
  background-color: transparent;
  font-family: var(--primary-font);
  text-shadow: 0 1px 0 rgb(57, 57, 57), 0 2px 0 rgb(52, 52, 52),
    0 3px 0 rgb(44, 44, 44), 0 4px 0 rgb(19, 19, 19), 0 5px 0 rgb(12, 12, 12),
    0 6px 0 rgb(0, 0, 0), 6px 7px 5px rgba(0, 0, 0, 0.4),
    6px 12px 10px rgba(0, 0, 0, 0.3), 6px 17px 20px rgba(0, 0, 0, 0.2),
    6px 22px 30px rgba(0, 0, 0, 0.1);
  &:hover {
    color: rgb(36, 36, 36);
  }
}

.menu__right__inner__item ul li a:hover {
  color: rgb(36, 36, 36);
}

.menu__right__inner__item:first-child {
  margin-bottom: 3rem;
}

.sep {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 5px;
  background: #383838;
}

.sep__icon {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  background: #383838;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;

  .logo {
    width: 8rem;
    animation: rotate_one 8s linear infinite;
  }
}

.contact_button {
  cursor: pointer;
}

.lost_password_button {
  cursor: pointer;
}

@media all and (max-width: 799px) {
  .toggle {
    top: 1.5rem;
  }
  .ouvrir {
    width: 30px;
    height: 30px;
  }
  .open .fermer {
    width: 30px;
    height: 30px;
  }
  .menu__left__inner__item {
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }
  .menu__right__inner__item__title {
    font-size: 1.25rem;
  }
  .menu__right__inner__item ul li a {
    font-size: 1rem;
  }
  .menu__right__inner__item ul li button {
    font-size: 1rem;
  }
}

@media all and (max-height: 580px) {
  .toggle {
    top: 1.5rem;
  }
  .ouvrir {
    width: 30px;
    height: 30px;
  }
  .open .fermer {
    width: 30px;
    height: 30px;
  }
  .menu__left__inner__item {
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }
  .menu__right__inner__item__title {
    font-size: 1.25rem;
  }
  .menu__right__inner__item ul li a {
    font-size: 1rem;
  }
  .menu__right__inner__item ul li button {
    font-size: 1rem;
  }
}

@media all and (max-width: 499px) {
  .nav_bar {
    flex-direction: column-reverse;
    justify-content: space-around;
  }
  .menu__right,
  .sep__icon {
    display: none;
  }

  .menu__left {
    width: 100%;
  }

  .sep {
    width: 1rem;
    left: 0;
  }
  .menu_left_responsive {
    display: block;
    .menu__left__inner__item__title {
      color: rgb(36, 36, 36);
      text-shadow: 0 1px 0 rgb(57, 57, 57), 0 2px 0 rgb(52, 52, 52),
        0 3px 0 rgb(44, 44, 44), 0 4px 0 rgb(19, 19, 19),
        0 5px 0 rgb(12, 12, 12), 0 6px 0 rgb(0, 0, 0),
        6px 7px 5px rgba(0, 0, 0, 0.4), 6px 12px 10px rgba(0, 0, 0, 0.3),
        6px 17px 20px rgba(0, 0, 0, 0.2), 6px 22px 30px rgba(0, 0, 0, 0.1);
    }
    .menu__left__inner__item ul li a {
      color: #8f8f8f;
      text-decoration: none;
      font-size: 1rem;
      transition: color 1s;
      list-style: none;
    }
    .menu__left__inner__item ul li a:hover {
      color: rgb(36, 36, 36);
    }
    .menu__left__inner__item ul {
      list-style: none;
    }
    .menu__left__inner__item ul li button {
      color: #8f8f8f;
      text-decoration: none;
      font-size: 1rem;
      transition: color 1s;
      border: none;
      background-color: transparent;
      font-family: var(--primary-font);
      text-shadow: 0 1px 0 rgb(57, 57, 57), 0 2px 0 rgb(52, 52, 52),
        0 3px 0 rgb(44, 44, 44), 0 4px 0 rgb(19, 19, 19),
        0 5px 0 rgb(12, 12, 12), 0 6px 0 rgb(0, 0, 0),
        6px 7px 5px rgba(0, 0, 0, 0.4), 6px 12px 10px rgba(0, 0, 0, 0.3),
        6px 17px 20px rgba(0, 0, 0, 0.2), 6px 22px 30px rgba(0, 0, 0, 0.1);
      &:hover {
        color: rgb(36, 36, 36);
      }
    }
  }
}
@media all and (max-width: 499px) and (max-height: 499px) {
  .menu {
    height: initial;
    position: absolute;
  }
  header {
    position: initial;
  }
  .sep {
    display: none;
  }
}

.autocomplete {
  position: relative;
  text-align: left;
}

.autocomplete-items {
  position: absolute;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: rgb(37, 37, 37);
  color: #939393;
}

.autocomplete-items div:hover {
  background-color: rgb(90, 90, 90);
}

.autocomplete-active {
  background-color: rgb(90, 90, 90) !important;
  color: #ffffff;
}
