/* /////////////////////////////////////////////INDEX//////////////////////////////////////// */


  /////////////////////////////////////////////////////////////////////
.wrapp{
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.features{
  height: 60vh;
  margin: 0 15px 0 15px;

  a{
    text-decoration: none;
    color: white;
  }
}

.col2 {
  display: flex;
}

.hero {
  display: block;
  display: flex;
  justify-content: center;
}

.cards {
  transform: translateY(100px) scaleY(1);
  transform-origin: 0% 100%;
  position: relative;
  height: 5em;

  .titles {
      font-family: 'Merriweather', serif;
      font-size: 2rem;
      text-align: center;
      opacity: 0;
      transform: translateY(100px);
  }

  &.one{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-around;
      
      .line { 
      opacity: 0;
      transform: translateY(100px);
      height: 1px;
      background-color: #fffae1;
      box-shadow: 1px 3px 2px black;

      &.one{
      width: 100%;
      }

      &.two{
      width: 50%;
      }

      &.three{
      width: 25%;
      }
    }
  }
  &.two{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
      
        .line {
        opacity: 0;
        transform: translateY(100px);
        height: 1px;
        background-color: #fffae1;
        box-shadow: 1px 3px 2px black;
  
        &.one{
        width: 100%;
        }
  
        &.two{
        width: 50%;
        }
  
        &.three{
        width: 25%;
        }
      }
    }
  &.three{
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: space-around;
      
      .line { 
        opacity: 0;
        transform: translateY(100px);
        height: 1px;
        background-color: #fffae1;
        box-shadow: 1px 3px 2px black;
  
        &.one{
        width: 100%;
        }
  
        &.two{
        width: 50%;
        }
  
        &.three{
        width: 25%;
        }
      }
    }
}

@media only screen and (min-width: 332px){
  .miror {
      .abyss::before {
      top: 140%;
      }
      .abyss span::before{
      top:140%;
      }
    }
}

@media only screen and (min-width: 507px) {

  .abyss {
      font-size: 2rem;
      width: 53%;  
  }
}

@media only screen and (min-width: 736px) {
  .features {
      display: flex;
      justify-content: space-around;
      align-items: center;

      .card {
          margin-bottom: 2em;
          height: 8rem;

          .title {
              margin-top: 0;
          }
      }
  }

  .abyss {
    font-size: 3rem;
    width: 54%;
    margin-top: 0rem;
  }

  .miror {
    .abyss::before {
    top: 96%;
    }
    .abyss span::before{
    top: 96%;
    }
  }
}



@media only screen and (min-width: 1083px) { 
  .abyss{
    width: 45%;
  }

  .features .card {
      margin-bottom: 0;
  }
}

@media only screen and (min-width: 1170px) { 
  .abyss{
    width: 33%;
  }
}

@media only screen and (min-width: 1320px) { 
  .abyss{
    width: 29%;
  }
}

@media only screen and (min-width: 1740px) { 
  .abyss{
    width: 22%;
  }
}

span {
  color: #f1c40f;
}



  

  

