/* /////////////////////////////////////////////INDEX//////////////////////////////////////// */

.wrapp{
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.features{
  height: 40vh;
  margin: 0 15px 0 15px;
}

// .col2 {
//   display: flex;
// }

// .hero {
//   display: block;
//   display: flex;
//   justify-content: center;
// }

a{
  text-decoration: none;
  // color: white;
  color: rgb(36, 36, 36);
}
.cards {
  transform: translateY(100px) scaleY(1);
  transform-origin: 0% 100%;
  position: relative;
  height: 9rem;

  .titles {
      font-size: 2rem;
      text-align: center;
      opacity: 0;
      transform: translateY(100px);
  }

  &.one{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-around;
      
      .line { 
      opacity: 0;
      transform: translateY(100px);
      height: 11px;
      border-radius: 10px;
      background: #161616;
      box-shadow:  5px -5px 5px #090909,
                   -5px 5px 5px #232323;

      &.one{
      width: 100%;
      }

      &.two{
      width: 50%;
      }

      &.three{
      width: 25%;
      }
    }
  }
  &.two{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
      
        .line {
        opacity: 0;
        transform: translateY(100px);
        height: 11px;
        border-radius: 10px;
        background: #161616;
        box-shadow: 5px -5px 5px #090909,   
                    -5px 5px 5px #232323;
        &.one{
        width: 100%;
        }
  
        &.two{
        width: 50%;
        }
  
        &.three{
        width: 25%;
        }
      }
    }
  &.three{
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: space-around;
      
      .line { 
        opacity: 0;
        transform: translateY(100px);
        height: 11px;
        border-radius: 10px;
        background: #161616;
        box-shadow:  5px -5px 5px #090909,
                     -5px 5px 5px #232323;
  
        &.one{
        width: 100%;
        }
  
        &.two{
        width: 50%;
        }
  
        &.three{
        width: 25%;
        }
      }
    }
}



  

  

