/* /////////////////////////////////////////////INDEX//////////////////////////////////////// */


  /////////////////////////////////////////////////////////////////////
.wrapp{
  // margin: 1em 1em 1em;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.features{
  height: 60vh;

  a{
    text-decoration: none;
    color: white;
  }
}

.ringOne, .ringTwo {
  margin: 0%;
  padding: 0%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 350px;
  opacity: 0.7;   
}

.ringThree {
  margin: 0%;
  padding: 0%;
  top: 5%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 350px;
  opacity: 0;   
}

.col2 {
  display: flex;
}

.hero {
  display: block;
  display: flex;
  justify-content: center;
}

.cards {
  transform: translateY(100px) scaleY(1);
  transform-origin: 0% 100%;
  position: relative;
  height: 5em;

  .titles {
      font-family: 'Merriweather', serif;
      font-size: 2rem;
      text-align: center;
      opacity: 0;
      transform: translateY(100px);
  }

  &.one{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-around;
      
      .line { 
      opacity: 0;
      transform: translateY(100px);
      height: 1px;
      background-color: #fffae1;
      box-shadow: 1px 3px 2px black;

      &.one{
      width: 100%;
      }

      &.two{
      width: 50%;
      }

      &.three{
      width: 25%;
      }
    }
  }
  &.two{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
      
        .line {
        opacity: 0;
        transform: translateY(100px);
        height: 1px;
        background-color: #fffae1;
        box-shadow: 1px 3px 2px black;
  
        &.one{
        width: 100%;
        }
  
        &.two{
        width: 50%;
        }
  
        &.three{
        width: 25%;
        }
      }
    }
  &.three{
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: space-around;
      
      .line { 
        opacity: 0;
        transform: translateY(100px);
        height: 1px;
        background-color: #fffae1;
        box-shadow: 1px 3px 2px black;
  
        &.one{
        width: 100%;
        }
  
        &.two{
        width: 50%;
        }
  
        &.three{
        width: 25%;
        }
      }
    }
}
  
  footer {
  opacity: 0;
  background: linear-gradient(90.73deg, #C9729A 4%, #923ADB 97.46%);
  padding: 2em 1em;
  color: #1A1A1A;
  font-weight: bold;
  // margin-top: 11em !important;

  .all {
      margin: .3em 0 0 .5em;
      font-size: 2rem;
  }

  .parent {
      display: block;
  }

  .twitter {
      width: 2em;
      margin-left: .5em;
  }

  .social {
      margin-top: 2em;
  }

  a {
      color: black;
      text-decoration: none;
  }

  .angle-line {
      margin-top: 1.2em;
  }
  
}

@media only screen and (min-width: 332px){
  .miror {
      h1::before {
      top: 140%;
      }
      h1 span::before{
      top:140%;
      }
    }
}

@media only screen and (min-width: 507px) {

  h1 {
      font-size: 2rem;
      width: 53%;  
  }
}

@media only screen and (min-width: 736px) {
  .features {
      display: flex;
      justify-content: space-around;
      align-items: center;

      .card {
          margin-bottom: 2em;
          height: 8rem;

          .title {
              margin-top: 0;
          }
      }
  }

  h1 {
    font-size: 3rem;
    width: 54%;
    margin-top: 0rem;
  }

  .miror {
    h1::before {
    top: 96%;
    }
    h1 span::before{
    top: 96%;
    }
  }
}



@media only screen and (min-width: 1083px) { 
  h1{
    width: 45%;
  }


  .features .card {
      margin-bottom: 0;
      
  }
  
}

@media only screen and (min-width: 1170px) { 
  h1{
    width: 33%;
  }
}

@media only screen and (min-width: 1320px) { 
  h1{
    width: 29%;
  }
}

@media only screen and (min-width: 1740px) { 
  h1{
    width: 22%;
  }
}


span {
  color: #f1c40f;
}



  

  

