/* //////////////////////////////////LOADINGDSCREEN///////////////////////////// */

img{
      width: 100%;
      
}


.ringThree {
      animation: rotateFirstRing 8s linear infinite;
}

@keyframes rotateFirstRing {
      from {
            transform: rotate(0deg);
      }
      to {
            transform: rotate(360deg);
      }
}


