.modal {
  display: none;
  position: fixed;
  z-index: 700;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.7);
  &.messages {
    flex-direction: column;
    justify-content: center;
  }
  &.content_comment {
    background-color: transparent;
  }
}

.modal_messages {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.7);
  flex-direction: column;
  justify-content: center;
  .modal_content {
    display: flex;
    justify-content: center;
  }
}

.modal_form {
  h2 {
    font-size: 18px;
  }
  label {
    font-size: 12px;
  }
}

.modal_content {
  margin: 5% auto;
  width: 90%;
  overflow: auto;
  max-width: 700px;
}

.modal_form_content {
  background-color: $color-1;
  border: 2px solid rgba(255, 255, 255, 0.1);
  padding: 1rem 2rem 1rem 2rem;
  display: flex;
  flex-direction: column;
  text-shadow: 0.5px 0.5px 0.5px black;
  &.content_comment {
    padding: 0 0 0.5rem 0;
  }
  &.messages {
    background-color: black;
  }
}

.modal_description {
  overflow: hidden;
  white-space: pre-line;
  display: flex;
  justify-content: center;
}

.flex_close {
  display: flex;
  justify-content: center;
}

#input_price,
#input_contact,
#input_description,
#input_composer,
#input_title,
#input_password,
#input_name_lastname,
#input_content {
  display: none;
}
