


.movie-card {
  color: #A9A8A3;
	margin: 7rem 0 2rem 0;
	a {
    text-decoration: none;
		color: #5C7FB8
	}
	
	a:hover {
		text-decoration: underline;
	}
}

.single_player_container {
  margin: 0 auto;
  width: 610px;
	background-color: black;
  position: relative;
	border-radius: 10px;
  opacity: 0;
  box-shadow: -7px -7px 10px #090909, 6px 2px 1px #232323;
  padding-bottom: 1rem;
}

.hero {
  height: 342px;  
  margin:0;
  position: relative;
  overflow: hidden;
  z-index:1;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
    video{
			width: 100%;
			height: 100%;
			position: absolute;
			z-index: -10;
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
		}
}


.cover {
  position: absolute;
  top: 160px;
  left: 40px;
  z-index: 2;
}

.details {
  
  padding: 20px 0 0 20px;
  
  
  .title1 {
    color: white;
    font-size: 44px;
    margin-bottom: 13px;
    // position: relative;
    
    span {
      position: absolute;
      top: 3px;
      margin-left: 12px;
      background: #C4AF3D;
      border-radius: 5px;
      color: #544C21;
      font-size: 14px;
      padding: 0px 4px;
      
    }
  }

  .title2 {    
    color: #C7C1BA;
    font-size: 23px;    
    font-weight: 300;
    margin-bottom: 15px;
  }
  
  
	
}

.player_bottom_bar{
  display: flex;
  justify-content: space-around;



  .likes:before {
    position: relative;
    top: 2px;
    padding-right: 7px;
  }

  .dropbtn {
    background-color: #171717;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    height: 15px;
    display: flex;
    align-items: center
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #6a6a6a;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a{
    &:first-of-type:hover {
      background-color: greenyellow;
      cursor: pointer;
      
    };
    &:nth-child(2):hover {
      background-color: red;
      cursor: pointer;
    };
    
    &:nth-child(3):hover {
      background-color: green;
      cursor: pointer;
    };
    
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #535353;
  }
}
.description {
  display: flex;
  flex-direction: column;
  line-height: 26px;
}

.column1 {
  padding-top: 30px;
  margin-left: 4rem;
}

.tag {
  background: white;
  border-radius: 10px;
  padding: 3px 8px;
  font-size: 14px;
  margin-right: 4px;
  line-height: 35px;
  cursor: pointer;
}

.tag:hover {
  background: #ddd;
}

.column2 {
  padding-top: 30px;
  margin-left: 4rem;
}

.avatars {
  margin-top: 23px;
  
  img {
    cursor: pointer;
  }
  
  img:hover {
    opacity: 0.6;
  }
  
  a:hover {
    text-decoration: none;
  }
}

.deck{
  position: relative;
  max-width: 500px;
  width: 100%;
  margin: auto;
}

.single_player_card{
  position: relative ;
  background-color: #161616;
  padding: 1em;
  z-index: 5;
  border-radius: 2px;
  box-shadow: 4px 4px 20px rgba(0,0,0,.3);
  transition: 200ms ease-in-out;
  margin-top: 1em;
  &:hover{
    z-index: 7;
    transform: scale(1.05);
    box-shadow: 0 4px 25px rgba(0,0,0,.4);
	}

}

.cardHeader{
  display: grid;
  justify-items: stretch;
  
  
  .cardHeader_account{
    color: blue;
    font-size: .85em;
    font-weight: 600;
    letter-spacing: 1px;
	}
  
  .cardHeader_date{
    margin: 10px;
    color: blue;
    font-size: .85em;
    font-weight: 600;
    text-align: right;
	}
}

.cardBody{
  display: flex;
  margin: 0 10px 10px;
  justify-content: space-between;
  
  .cardText{
    margin: 0 10px 0 0;
    white-space: pre-line;
    color: gray;
    font-weight: 400;
    line-height: 1.5;
    word-break: break-all;
	}
  
  .cardStats{
    font-size: .9em;
    text-align: right;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    
    .dropbtn {
      background-color: #2c2626;
      color: white;
      padding: 16px;
      font-size: 16px;
      border: none;
      cursor: pointer;
      border-radius: 10px;
      height: 15px;
      display: flex;
      align-items: center
    }
    
    .cardStats_stat{
      display: inline-block;
      white-space: nowrap;
			
      &.cardStats_stat-likes{
        color: pink;
			}
      &.cardStats_stat-comments{
        color: orange;
			}
			
		}
	}
}

