
.movie-card {
	margin: 7rem 0 2rem 0;
}

.single_player_container {
  margin: 0 auto;
  width: 610px;
	background-color: #0c0c0c;
  position: relative;
	border-radius: 10px;
  border: 1.5px solid rgb(0, 0, 0);
  opacity: 0;
  box-shadow: -7px -7px 10px #090909, 2px 2px 2px #232323;
  padding-bottom: 1rem;
}

.hero {
  height: 342px;  
  margin:0;
  position: relative;
  overflow: hidden;
  z-index:1;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: none;
  border-bottom: 1.5px solid rgb(36,36,36);
    video{
			width: 100%;
			height: 100%;
			position: absolute;
			z-index: -10;
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
      filter: grayscale(1);
		}
}


.cover {
  position: absolute;
  top: 160px;
  left: 40px;
  z-index: 2;
}

.details {
  
  padding: 20px 0 0 20px;
  
  
  .title1 {
    color: rgb(218, 218, 218);
    font-size: 44px;
    margin-bottom: 13px;
    text-shadow: 0px 1px 5px black;
    
    span {
      position: absolute;
      top: 3px;
      margin-left: 12px;
      background: #C4AF3D;
      border-radius: 5px;
      color: #544C21;
      font-size: 14px;
      padding: 0px 4px;
      
    }
  }

  .title2 {    
    color: #bcbcbc;
    font-size: 23px;    
    font-weight: 300;
    margin-bottom: 15px;
    text-shadow: 0px 1px 5px black;
  }
}

.player_bottom_bar{
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;

  .likes{
    color: #8b8b8b;
  }

  .dropbtn {
    background: linear-gradient(135deg, #161616 0%, #272727 100%);
    color: rgb(91, 91, 91);
    font-family: var(--primary-font);
    padding: 16px;
    font-size: 14px;
    border: none;
    border-bottom: 1.5px solid rgb(0, 0, 0);
    border-top: 1.5px solid rgb(64, 64, 64);
    cursor: pointer;
    border-radius: 10px;
    height: 15px;
    display: flex;
    align-items: center;
    a{
      text-decoration: none;
      color: #535353;
    }
    &:hover{
	  transform: scale(1.05) translateY(-3px);
    transition: all 0.4s;
    box-shadow: 3px 3px 6px #8d8d8d85;
    }
  } 
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #161616;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: #535353;
  }
  
  .dropdown-content a{
    &:first-of-type:hover {
      background-color: greenyellow;
      cursor: pointer;
      
    };
    &:nth-child(2):hover {
      background-color: red;
      cursor: pointer;
    };
    
    &:nth-child(3):hover {
      background-color: green;
      cursor: pointer;
    };
    
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #535353;
  }
}
.description {
  display: flex;
  flex-direction: column;
  line-height: 26px;
}

.column1 {
  margin-top: 30px;
  margin-left: 4rem;
  background: linear-gradient(135deg, #1c1c1c 0%, #000000 100%);
  width: max-content;
  padding: 0.3rem;border-radius: 5px;
  line-height: 15px;
  font-size: 14px;
  border: none;
  border-bottom: 1.5px solid rgb(40 40 40);
  border-top: 1.5px solid rgb(64, 64, 64);
  a{
    color: rgb(66 66 66);
    text-decoration: none;
  }
  &:hover{
	  transform: scale(1.05) translateY(-3px);
    transition: all 0.4s;
    box-shadow: 3px 3px 6px #8d8d8d85;
    }
}

.tag {
  background: white;
  border-radius: 10px;
  padding: 3px 8px;
  font-size: 14px;
  margin-right: 4px;
  line-height: 35px;
  cursor: pointer;
}

.tag:hover {
  background: #ddd;
}

.column2 {
  margin-left: 4rem;
  margin-right: 4rem;
  color: rgb(66,66,66);
  overflow: hidden;
  text-align: justify;
  white-space: pre-line;
}


