/* /////////////////////////////////GENERAL///////////////////////////////// */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #161616;
  --secondary-color: #5e4b4b;
  --third-color: #fff;
  --fourth-color: #8f8f8f;
  --primary-font: "Inria Serif", serif;
  --secondary-font: "Arapey", serif;
}

html {
  font-size: 16px;
}

body {
  background: var(--primary-color);
  color: white;
  font-family: "Poppins", sans-serif;
  margin: 0;
  overflow-x: hidden;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

nav {
  height: 100%;
}

h1 {
  font-family: "Merriweather", serif;
  font-size: 2rem;
  margin-bottom: 2em;
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  opacity: 0;
  transform: translateY(100px);
  text-align: center;
  width: 77%;
  margin-top: 2rem;
}

footer {
  margin: 0 1rem 0 1rem;
}

.overlay {
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to bottom, rgba(14, 29, 51, 0.8), rgba(14, 29, 51, 0.2));
}

.hero-slider {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  margin-top: 7rem;
}
.hero-slider .carousel-cell {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero-slider .carousel-cell .inner {
  position: relative;
  top: -50%;
  transform: translateY(-50%);
  color: white;
  text-align: center;
}
.hero-slider .carousel-cell .inner .subtitle {
  font-family: "Roboto Slab", serif;
  font-size: 2.2rem;
  line-height: 1.2em;
  font-weight: 200;
  font-style: italic;
  letter-spacing: 3px;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 5px;
}
.hero-slider .carousel-cell .inner .title {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  line-height: 1.2em;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 40px;
}
.hero-slider .carousel-cell .inner .btn {
  border: 1px solid #fff;
  padding: 14px 18px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  letter-spacing: 3px;
  color: #fff;
  text-decoration: none;
  transition: all 0.2s ease;
}
.hero-slider .carousel-cell .inner .btn:hover {
  background: #fff;
  color: #000;
}
.hero-slider .flickity-prev-next-button {
  width: 80px;
  height: 80px;
  background: transparent;
}
.hero-slider .flickity-prev-next-button:hover {
  background: transparent;
}
.hero-slider .flickity-prev-next-button .arrow {
  fill: white;
}
.hero-slider .flickity-page-dots {
  bottom: 30px;
}
.hero-slider .flickity-page-dots .dot {
  width: 30px;
  height: 4px;
  opacity: 1;
  background: rgba(255, 255, 255, 0.5);
  border: 0 solid white;
  border-radius: 0;
}
.hero-slider .flickity-page-dots .dot.is-selected {
  background: #ff0000;
  border: 0 solid #ff0000;
}

/* //////////////////////////////////LOADINGDSCREEN///////////////////////////// */
img {
  width: 100%;
}

.ringOne img {
  animation: rotateFirstRing 2s linear infinite;
}

.ringTwo img {
  animation: rotateFirstRing 8s linear infinite;
}

.ringThree {
  animation: rotateFirstRing 8s linear infinite;
}

@keyframes rotateFirstRing {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.load-screen {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  background-color: #4bedc2;
  width: 0%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 10;
}

.load-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 10;
  pointer-events: none;
}

.button {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: white;
  border: 1px solid white;
  padding: 24px 40px;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 10px;
  transition: 0.3s;
}

.button:hover a {
  background: white;
  color: #161616;
  transition: 0.3s;
}

/* /////////////////////////////////////////////INDEX//////////////////////////////////////// */
.box {
  width: 5rem;
  height: 5rem;
  margin: 1rem;
  border: 1px solid white;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 13rem;
}

.wrapp {
  margin: 1em 1em 1em;
  height: 100%;
}

.ringOne, .ringTwo {
  margin: 0%;
  padding: 0%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 350px;
  opacity: 0.7;
}

.ringThree {
  margin: 0%;
  padding: 0%;
  top: 5%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 350px;
  opacity: 0;
}

main {
  margin-top: 4em;
  height: 100%;
}

.col2 {
  display: flex;
}

.hero {
  display: block;
  display: flex;
  justify-content: center;
}

.card {
  transform: translateY(100px) scaleY(1);
  transform-origin: 0% 100%;
  position: relative;
  height: 5em;
}
.card .title {
  font-family: "Merriweather", serif;
  font-size: 2rem;
  text-align: center;
  opacity: 0;
  transform: translateY(100px);
}
.card.one {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}
.card.one .line {
  opacity: 0;
  transform: translateY(100px);
  height: 1px;
  background-color: #fffae1;
  box-shadow: 1px 3px 2px black;
}
.card.one .line.one {
  width: 100%;
}
.card.one .line.two {
  width: 50%;
}
.card.one .line.three {
  width: 25%;
}
.card.two {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.card.two .line {
  opacity: 0;
  transform: translateY(100px);
  height: 1px;
  background-color: #fffae1;
  box-shadow: 1px 3px 2px black;
}
.card.two .line.one {
  width: 100%;
}
.card.two .line.two {
  width: 50%;
}
.card.two .line.three {
  width: 25%;
}
.card.three {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
}
.card.three .line {
  opacity: 0;
  transform: translateY(100px);
  height: 1px;
  background-color: #fffae1;
  box-shadow: 1px 3px 2px black;
}
.card.three .line.one {
  width: 100%;
}
.card.three .line.two {
  width: 50%;
}
.card.three .line.three {
  width: 25%;
}

footer {
  opacity: 0;
  background: linear-gradient(90.73deg, #C9729A 4%, #923ADB 97.46%);
  padding: 2em 1em;
  color: #1A1A1A;
  font-weight: bold;
}
footer .all {
  margin: 0.3em 0 0 0.5em;
  font-size: 2rem;
}
footer .parent {
  display: block;
}
footer .twitter {
  width: 2em;
  margin-left: 0.5em;
}
footer .social {
  margin-top: 2em;
}
footer a {
  color: black;
  text-decoration: none;
}
footer .angle-line {
  margin-top: 1.2em;
}

@media only screen and (min-width: 539px) {
  h1 {
    font-size: 2rem;
    width: 53%;
  }
}
@media only screen and (min-width: 750px) {
  .features {
    display: flex;
    justify-content: space-around;
  }
  .features .card {
    margin-bottom: 2em;
    height: 8rem;
  }
  .features .card .title {
    margin-top: 0;
  }
  h1 {
    font-size: 3rem;
    width: 54%;
    margin-top: 0rem;
  }
}
@media only screen and (min-width: 1115px) {
  h1 {
    width: 50%;
  }
  .features .card {
    margin-bottom: 0;
  }
}
span {
  color: #f1c40f;
}

/* ///////////////////////////////////HEAD/////////////////////////////////// */
/* Toggle */
.toggle {
  color: var(--third-color);
  font-size: 2rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 20;
  cursor: pointer;
}

.ouvrir {
  display: block;
}

.fermer {
  display: none;
}

.open .ouvrir {
  display: none;
}

.open .fermer {
  display: block;
}

/* Menu */
.menu {
  height: 100%;
  display: flex;
  opacity: 0.9;
}

.menu__left, .menu__right {
  width: 50%;
  height: 100%;
  background: var(--primary-color);
  transition: transform 2.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu__left {
  transform: translateX(-100%);
  overflow: hidden;
}

.menu__right {
  transform: translateX(100%);
  overflow: hidden;
}

.open .menu__left, .open .menu__right {
  transform: translateX(0);
}

/* Inner Menu Left */
.menu__left__inner__item {
  font-family: var(--primary-font);
  font-size: 3rem;
  margin-bottom: 2rem;
}

.menu__left__inner__item:last-child {
  margin-bottom: 0;
}

.menu__left__inner__item a {
  color: var(--third-color);
  text-decoration: none;
  transition: color 1s;
}

.menu__left__inner__item a:hover {
  color: var(--secondary-color);
}

.menu__left__inner__item__small {
  font-family: var(--secondary-font);
  font-size: 1.25rem;
}

/* Inner Right Menu */
.menu__right__inner__item__title {
  font-family: var(--primary-font);
  font-size: 3rem;
  color: var(--third-color);
}

.menu__right__inner__item ul {
  list-style: none;
}

.menu__right__inner__item ul li {
  margin-top: 0.5rem;
}

.menu__right__inner__item ul li a {
  color: var(--fourth-color);
  font-family: var(--secondary-font);
  text-decoration: none;
  font-size: 1.25rem;
  transition: color 1s;
}

.menu__right__inner__item ul li a:hover {
  color: var(--secondary-color);
}

.menu__right__inner__item:first-child {
  margin-bottom: 3rem;
}

/* Sep */
.sep {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 5px;
  background: var(--secondary-color);
}

.sep__icon {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  background: var(--secondary-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--third-color);
  font-family: var(--secondary-font);
  font-size: 1.5rem;
  opacity: 0;
}
.sep__icon img {
  width: 8rem;
  animation: rotateFirstRing 8s linear infinite;
}

@keyframes rotateFirstRing {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* FOOT */

/*# sourceMappingURL=style.css.map */
